*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f3f2ef;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: inherit;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6%;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .logo img{
    height: 40px;
    cursor: pointer;
    display: block;
}
.nav-left, .nav-right, .nav-center{
    display: flex;
    align-items: center;
}   
nav .search{
    background : #f0f2f5;
    padding : 0 15px;
    border-radius : 20px;
    display : flex;
    align-items : center;
    margin-left : 20px;
    width: 350px;  
}
nav .search input{
    border: 0;
    outline: none;
    background: transparent;
    padding: 10px;
    width: 100%;  
    
}
nav .search img{
    width: 20px;
}
.nav-center ul{
    display: inline-flex;
    justify-content: center;
    padding: 0 20px;
    color: #5f5f5f;
    list-style: none;
    height: 100%;
}
.nav-center ul li{ 
    display: flex;
    height: 100%;
}
.nav-center ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 20px;
    color: #5f5f5f;
    transition: border-color 0.2s ease; 
    position: relative; 
}
.nav-center ul li a:hover{
    cursor: pointer;
    color: #000000;
} 
.nav-center ul li img{
    width: 35px;
    margin-bottom: 4px;
    /* la transition s'applique au filtre */
    transition: filter 0.2s ease; 
}

.nav-center ul li a:hover img {
    /* filter pour rendre l'image noire */
    filter: brightness(0); 
}
.nav-center ul li span{
    font-size: 15px;
}
.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    display: block;
    cursor: pointer;
    position: relative;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    right: 6px;
    border: 2px solid #ffffff;
}
.nav-center ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #181818;
    transition: width 0.3s ease;
}
.nav-center ul li a:hover::after{
    width: 100%;
    margin-bottom: -5px;
}
/* end navbar */

/*-------------- Main Container --------------*/
.main-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 6%;
}
/* left sidebar */
.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}
.left-profile-box{
    background-color: #ffffff;
}
.left-profile-info{
    padding: 0 25px;
}
.left-profile-info img{
    width: 90px;
    border-radius: 50%;
    margin-top: -45px;
    background: #ffffff;
    padding: 4px;
}
.left-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.left-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
.left-profile-info ul{
    list-style: none;
    margin: 20px 0;
}
.left-profile-info ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.left-profile-info ul li span{
    color: #045be6;
}
.left-profile-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
}
.left-profile-links a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #5f5f5f;
    padding: 10px 10px;
    width: 100%;    
    border-left: 1px solid #ccc;
}
.left-profile-links a:first-child{
    border-left: none;
}
.left-profile-links a img{
    width: 25px;
    margin-right: 15px;
}
.sidebar-activity{
    background: #fff;
    margin: 12px 0;
    padding: 5px 25px;
}
.sidebar-activity h3{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 10px;
    color: #777;
}
.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 5px 0;
}
.sidebar-activity a img{
    width: 20px;
    margin-right: 10px;
}
.discover-more{
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;    
}
.discover-more a{
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}
/* end left sidebar */


/* main sidebar  */
.main-content{
    flex-basis: 47%;
    align-self: flex-start;
}

/* end main content  */


/* right sidebar */
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}
.sidebar-news{
    background: #fff;
    padding: 10px 25px;
    
}
.title-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-news img{
    width: 20px;
    margin: 10px 0 20px;
} 
.sidebar-news h3{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 20px;
}
.span a{
    text-decoration: none;
    color: #045be6;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.span span{
  font-size: 13px;  
}


